@layer components {
  .glitch {
    position: relative;
    font-weight: 700;
    color: #fff;
    z-index: 1;
  }

  .glitch:hover:before,
  .glitch:hover:after,
  .glitch.glitch-on:before,
  .glitch.glitch-on:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  .glitch:before {
    color: rgb(--var(--cyan));
    z-index: -1;
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
      infinite;
  }

  .glitch:after {
    color: rgb(var(--purple));
    z-index: -2;
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
      both infinite;
  }

  .glitch.glitch-on:before {
    animation: glitch-color-stop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
      infinite;
  }

  .glitch.glitch-on:after {
    animation: glitch-color-stop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
      both infinite;
  }

  @keyframes glitch-color-stop {
    0% {
      transform: translate(0);
    }

    6% {
      transform: translate(-3px, 3px);
    }

    12% {
      transform: translate(-3px, -3px);
    }

    18% {
      transform: translate(3px, 3px);
    }

    21% {
      transform: translate(3px, -3px);
    }

    30% {
      transform: translate(0);
    }

    100% {
      transform: translate(0);
    }
  }

  @keyframes glitch-color {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-3px, 3px);
    }

    40% {
      transform: translate(-3px, -3px);
    }

    60% {
      transform: translate(3px, 3px);
    }

    80% {
      transform: translate(3px, -3px);
    }

    to {
      transform: translate(0);
    }
  }
}
