:root {
  --purple: 255 0 255;
  --cyan: 0 255 255;

  --neon-shadow-purple:
    0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem rgb(var(--purple)),
    0 0 1.8rem rgb(var(--purple)), inset 0 0 1.3rem rgb(var(--purple));

  --neon-shadow-cyan:
    0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem rgb(var(--cyan)),
    0 0 1.8rem rgb(var(--cyan)), inset 0 0 1.3rem rgb(var(--cyan));

  --neon-bg-purple: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 0,
    rgb(var(--purple) / 0.5) 100%
  );

  --neon-bg-cyan: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 0,
    rgb(var(--cyan) / 0.5) 100%
  );
}

.purple {
  --neon-shadow: var(--neon-shadow-purple);
  --neon-bg: var(--neon-bg-purple);
}

.cyan {
  --neon-shadow: var(--neon-shadow-cyan);
  --neon-bg: var(--neon-bg-cyan);
}
