---
import Container from './Container.astro';
import Link from './Link.astro';
---

<header class="fixed top-0 w-full backdrop-blur-xl z-10">
  <Container class="flex items-center justify-between">
    <div class="glitch glitch-on text-4xl" data-glitch="glitch">glitch</div>
    <nav class="flex gap-4">
      <Link title="Home" href="/" />
      <Link title="My Site" href="/my-site" />
    </nav>
  </Container>
  <div class="border border-white shadow-(--neon-shadow)"></div>
</header>
