---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Container from '../components/Container.astro';
import Background from '../components/Background.astro';

const pathname = Astro.url.pathname;
const colorConfig = new Map([
  ['/', 'purple'],
  ['/my-site', 'cyan'],
]);
const color = colorConfig.get(pathname) || 'purple';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class:list={['h-screen', 'bg-black', color]}>
    <Background />
    <Header />
    <div class="grow overflow-auto pt-24">
      <Container>
        <slot />
      </Container>
    </div>
  </body>
</html>; ---
